<ion-header>
  <ion-toolbar color="light">
    <ion-icon slot="start" name="arrow-back" *ngIf="!security" (click)="securityChange()" class="goBack" color="tertiary"></ion-icon>

    <ion-title slot="end" *ngIf="security && !param.isLoggedIn" mode="md" color="tertiary">
      Connexion
    </ion-title>

    <ion-title slot="end" *ngIf="!security && !param.isLoggedIn" mode="md" color="tertiary">
      Inscription
    </ion-title>

    <ion-title slot="end" *ngIf="param.isLoggedIn" mode="md" color="tertiary">
      QR code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <div *ngIf="loading" class="loading">
    <div class="centerLoading">
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
  </div>

  <ion-item-group *ngIf="!param.isLoggedIn; else qrCode">

    <div *ngIf="security; else inscription" class="center column">

      <div class="loginForm">
        <ion-text color="tertiary">
          <h1>Connexion</h1>
        </ion-text>

        <input type="email" placeholder="E-mail" [(ngModel)]="email"/>
        <input type="password" placeholder="Mot de passe" [(ngModel)]="password"/>

        <ion-button (click)="connexion()" expand="block" color="tertiary" shape="round">
          Se connecter
        </ion-button>
     
        <ion-label>
          <ion-checkbox mode="md" [(ngModel)]="memoriseId" color="tertiary"></ion-checkbox>
          <span>Mémoriser vos identifiants</span>
        </ion-label>

        
      </div>
      <ion-label (click)="securityChange()" class="register">
        Inscription
      </ion-label>

    </div>

    <ng-template #inscription>

      <div class="center column">
        <div class="loginForm">
          <ion-text color="tertiary">
            <h1>Inscription</h1>
          </ion-text>
  
          <input type="email" placeholder="E-mail" [(ngModel)]="email"/>
          <input type="text" placeholder="Nom" [(ngModel)]="nom"/>
          <input type="text" placeholder="Prenom" [(ngModel)]="prenom"/>
          <input type="password" placeholder="Mot de passe" [(ngModel)]="password"/>
  
          <ion-button (click)="register()" expand="block" color="tertiary" shape="round">
            Se connecter
          </ion-button>
       
          <ion-label>
            <ion-checkbox mode="md" [(ngModel)]="memoriseId" color="tertiary"></ion-checkbox>
            <span>Mémoriser vos identifiants</span>
          </ion-label>       
        </div>
      </div>
    </ng-template>

  </ion-item-group>

  <ng-template #qrCode>
    <div class="center">
      <!-- <qrcode [qrdata]="userId" size="500" [level]="'H'"></qrcode> -->
      <div class="qrCodeContainer">
        <div #qrcodecolor></div>
      </div>
    </div>
  </ng-template>
  
</ion-content>
